@font-face {
    font-family: "Montserrat-Regular";
    src: url(../../media/font/Montserrat-Regular.ttf);
}

$font-primary: "Montserrat-Regular", sans-serif;
$font-secondary: "Montserrat-Italic", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}
.container {
    max-width: 90rem;
    margin: 0;
    padding: 1.25rem;
}

mark {
    background-color: #d2e70fd2;
}
p {
    text-indent: 2em;
    margin-bottom: 0.3125rem;
}
h2 {
    margin: 1.25rem 0rem;
    font-size: 1.75rem;
}
h3 {
    text-align: center;
    font-size: 1.375rem;
    margin: 0.625rem 0rem;
}

code {
    font-weight: 600;
    background-color: #f0f0f0;
    white-space: nowrap;
}

@media (max-width: 960px) {
    code {
        white-space: wrap;
    }
}

p {
    span {
        font-weight: 600;
    }
}

.img-box {
    max-width: 100vw;
    margin: 0.625rem 0rem;
    img {
        width: 100%;
        object-fit: cover;
    }
}

html {
    @media (max-width: 960px) {
        font-size: 0.9rem;
    }
    @media (max-width: 800px) {
        font-size: 0.8rem;
    }
    @media (max-width: 650px) {
        font-size: 0.7rem;
    }
    @media (max-width: 550px) {
        font-size: 0.6rem;
    }
    @media (max-width: 505px) {
        font-size: 0.5rem;
    }
}

.body {
    font-family: $font-primary;
    font-size: 1.375rem;

    .wrapper {
        background: linear-gradient(145deg, #ffffff 0%, #cde6fc 100%);
        display: grid;
        grid-template-columns: 13.5rem 1fr;
        min-height: 100vh;
        gap: 1.25rem;
        .aside {
            position: sticky;
            top: 0;
            height: 100vh;
            overflow-y: auto;
            .container {
                padding: 1.25rem 0rem 0rem 0rem;
                .aside__nav {
                    .aside__list {
                        .aside__item {
                            .aside__link {
                                display: block;
                                border: 0.0625rem solid #ccbfbf8c;
                                padding: 0.625rem 0.3125rem;
                                cursor: pointer;
                                transition: all 0.5s ease;
                                &:hover {
                                    background-color: #fff;
                                    color: #02061d;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
