# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist
dist-ssr
*.local
.vscode
git
main
media
SASS
SCSS
tutorCSS
vite
VSCode

!docs/main/
!docs/git/
!docs/SASS/
!docs/tutorCSS/
!docs/vite/
!docs/git/
!docs/VSCode/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?