@use "../../SCSS/base-styles";

pre {
    background-color: rgba(255, 255, 255, 0.4666666667);
    padding: 0.3125rem;
}

h4 {
    text-align: center;
}

.grid__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: start;
    justify-content: start;
    border: 3px solid #367eb9;
    background-color: #fff;
    padding: 3px;
    gap: 5px;
    height: 25rem;
    width: 25rem;
    overflow: hidden;
    .grid__block {
        align-self: stretch;
        justify-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0aaf78;
        text-align: center;
    }
}

.grid__input-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .grid__label {
        background-color: rgb(239, 239, 239);
        padding: 1.25rem;
        border: 1px solid #000;
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 1.5rem;
        .grid__input {
            font-size: 1.5rem;
        }
        @media (max-width: 820px) {
            .grid__input {
                font-size: 1.3rem;
            }
        }
    }
    @media (max-width: 470px) {
        .grid__label {
            font-size: 1.125rem;
        }
    }
}

.body {
    .wrapper {
        .main {
            .container {
                overflow: hidden;
                overflow-x: hidden;
                .flex {
                    .tut-css__text {
                        text-indent: 0;
                        .tut-css__link {
                            text-decoration: underline;
                            text-underline-position: under;
                            color: #2e5ae7;
                            transition: all 0.5s ease;
                            &:hover {
                                color: #042483;
                            }
                        }
                    }
                    .tut-css__box {
                        display: flex;
                        gap: 3.125rem;
                        flex-wrap: wrap;
                        margin-top: 0.625rem;
                        margin-bottom: 0.625rem;
                        .tut-css__show {
                            padding: 10px;
                            height: 100%;

                            border: 3px solid #070707;
                            p {
                                display: inline-block;
                                mark {
                                    background-color: #367eb9;
                                }
                            }
                            .tut-css__flex-box {
                                display: block;
                                border: 3px solid #5a77ce;
                                background-color: #fff;
                                height: 20rem;
                                width: 20rem;
                                .block {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 5rem;
                                    height: 5rem;
                                    border: 1px solid #ffffff;
                                    background-color: #0aaf78;
                                }
                            }
                            .tut-css__flex-box_inline-flex-active {
                                display: inline-flex;
                            }
                            .tut-css__flex-box-flex-active {
                                display: flex;
                            }
                            .tut-css__flex-box-none-flex-active {
                                display: block;
                            }
                        }
                        .tut-css__code {
                            padding: 1.875rem;
                            background-color: #ffffff77;
                        }
                    }
                    .tut-css__btns-box {
                        button {
                            padding: 0.625rem 1.25rem;
                            cursor: pointer;
                            &:hover {
                                color: #f3f2f2;
                                background: #070707;
                            }
                        }
                    }
                    .tut-css__show {
                        padding: 0.625rem;
                        height: 100%;
                        p {
                            display: inline-block;
                            mark {
                                background-color: #367eb9;
                            }
                        }
                        .tut-css__flex-box {
                            display: block;
                            border: 3px solid #5a77ce;
                            background-color: #fff;
                            height: 20rem;
                            width: 20rem;
                            .block {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 5rem;
                                height: 5rem;
                                border: 1px solid #ffffff;
                                background-color: #0aaf78;
                            }
                        }
                        .tut-css__flex-box_inline-flex-active {
                            display: inline-flex;
                        }
                        .tut-css__flex-box-flex-active {
                            display: flex;
                        }
                        .tut-css__flex-box-none-flex-active {
                            display: block;
                        }
                    }
                    .tut-css__flex-wrapper {
                        display: flex;
                        gap: 3.125rem;
                        flex-wrap: wrap;
                        .tut-css__show {
                            .flex-direction {
                                display: flex;
                            }
                            .flex-direction-colum-active {
                                flex-direction: column;
                            }
                            .flex-direction-row-active {
                                flex-direction: row;
                            }
                            .flex-direction-colum-rev-active {
                                flex-direction: column-reverse;
                            }
                            .flex-direction-row-rev-active {
                                flex-direction: row-reverse;
                            }
                        }
                        .tut-css__code-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 1.25rem;
                            flex-wrap: wrap;
                            .tut-css__btns-box {
                                display: flex;
                                flex-direction: column;
                                gap: 1.25rem;
                                justify-content: center;
                                label {
                                    background-color: rgb(239, 239, 239);
                                    padding: 0.625rem 1.25rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid #000;
                                    font-family: "Segoe UI", Arial, sans-serif;
                                    cursor: pointer;
                                    &:hover {
                                        color: #f3f2f2;
                                        background: #070707;
                                    }

                                    input {
                                        appearance: none;
                                    }
                                }
                            }
                            .tut-css__style-code {
                                background-color: rgba(255, 255, 255, 0.4666666667);
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-wrap {
                                display: flex;
                                flex-wrap: nowrap;
                                align-content: flex-start;
                            }
                            .flex-wrap-nowrap-active {
                                flex-wrap: nowrap;
                            }
                            .flex-wrap-wrap-active {
                                flex-wrap: wrap;
                            }
                            .flex-wrap-wrap-reverse-active {
                                flex-wrap: wrap-reverse;
                            }
                        }
                    }
                    .tut-css__code-wrapper {
                        .tut-css__btns-box {
                            height: 20rem;
                            flex-wrap: wrap;
                        }
                        @media (max-width: 1280px) {
                            .tut-css__btns-box {
                                height: auto;
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-justify {
                                display: flex;
                                justify-content: start;
                                margin-top: 1.25rem;
                                .block {
                                    height: 100%;
                                    width: 2.5rem;
                                }
                            }
                            .flex-justify-start-active {
                                justify-content: start;
                            }
                            .flex-justify-end-active {
                                justify-content: end;
                            }
                            .flex-justify-flex-start-active {
                                justify-content: flex-start;
                            }
                            .flex-justify-flex-end-active {
                                justify-content: flex-end;
                            }
                            .flex-justify-left-active {
                                justify-content: left;
                            }
                            .flex-justify-right-active {
                                justify-content: right;
                            }
                            .flex-justify-center-active {
                                justify-content: center;
                            }
                            .flex-justify-space-between-active {
                                justify-content: space-between;
                            }
                            .flex-justify-space-around-active {
                                justify-content: space-around;
                            }
                            .flex-justify-space-evenly-active {
                                justify-content: space-evenly;
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-align {
                                display: flex;
                                margin-top: 1.25rem;
                                align-items: stretch;
                                .block {
                                    height: 5rem;
                                    width: 5rem;
                                }
                                .block-one {
                                    height: 7rem;
                                }
                                .block-three {
                                    height: 8rem;
                                }
                                .block-active-height {
                                    height: auto;
                                }
                            }
                            .flex-align-start-active {
                                align-items: stretch;
                            }
                            .flex-align-flex-start-active {
                                align-items: flex-start;
                            }
                            .flex-align-flex-end-active {
                                align-items: flex-end;
                            }
                            .flex-align-center-active {
                                align-items: center;
                            }
                            .flex-align-baseline-active {
                                align-items: baseline;
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-align-self {
                                display: flex;
                                margin-top: 1.25rem;
                                align-items: center;
                                .block {
                                    height: 5rem;
                                    width: 5rem;
                                }
                                .block-one {
                                    height: 7rem;
                                }
                                .block-three {
                                    height: 8rem;
                                }
                                .block-active-height {
                                    height: auto;
                                }
                            }
                            .flex-align-self-start-active {
                                align-self: stretch;
                            }
                            .flex-align-self-flex-start-active {
                                align-self: flex-start;
                            }
                            .flex-align-self-flex-end-active {
                                align-self: flex-end;
                            }
                            .flex-align-self-center-active {
                                align-self: center;
                            }
                            .flex-align-self-baseline-active {
                                align-self: baseline;
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-al-content {
                                display: flex;
                                margin-top: 1.25rem;
                                align-content: stretch;
                                flex-wrap: wrap;
                                .block {
                                    padding: 0.625rem;
                                    height: auto;
                                    width: 5rem;
                                }
                            }
                            .flex-al-content-start-active {
                                align-content: stretch;
                            }
                            .flex-al-content-flex-start-active {
                                align-content: flex-start;
                            }
                            .flex-al-content-flex-end-active {
                                align-content: flex-end;
                            }
                            .flex-al-content-center-active {
                                align-content: center;
                            }
                            .flex-al-content-space-around-active {
                                align-content: space-around;
                            }
                            .flex-al-content-space-between-active {
                                align-content: space-between;
                            }
                            .flex-al-content-space-evenly-active {
                                align-content: space-evenly;
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-order {
                                display: flex;
                                margin-top: 1.25rem;
                                flex-wrap: wrap;
                                .block {
                                    padding: 10px;
                                    height: auto;
                                    width: 5rem;
                                }
                            }
                        }
                        .tut-css__code-wrapper {
                            .tut-css__btns-box {
                                .tut-css__label-order {
                                    display: block;
                                    text-align: center;
                                    .tut-css__span-order {
                                        display: block;
                                    }
                                    .tut-css__flex-order {
                                        width: 5rem;
                                    }
                                    &:hover {
                                        background-color: rgb(239, 239, 239);
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-grow {
                                display: flex;
                                flex-direction: column;
                                margin-top: 1.25rem;

                                .block {
                                    padding: 10px;
                                    height: auto;
                                    width: 100%;
                                }
                                .block-one-grow {
                                    flex-grow: 0;
                                }
                                .block-two-grow {
                                    flex-grow: 0;
                                }
                                .block-three-grow {
                                    flex-grow: 0;
                                }
                            }
                        }
                        .tut-css__code-wrapper {
                            .tut-css__btns-box {
                                .tut-css__label-flex-grow {
                                    display: block;
                                    text-align: center;
                                    .tut-css__span-grow {
                                        display: block;
                                    }
                                    .tut-css__flex-grow {
                                        width: 5rem;
                                    }
                                    &:hover {
                                        background-color: rgb(239, 239, 239);
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-shrink {
                                display: flex;
                                flex-direction: column;
                                margin-top: 1.25rem;
                                height: 25rem;
                                overflow: hidden;

                                .block {
                                    // padding: 0.625rem;
                                    height: auto;
                                    width: 100%;
                                }
                                .block-one-shrink {
                                    flex-shrink: 1;
                                    flex-grow: 0;
                                    height: 200px;
                                }
                                .block-two-shrink {
                                    flex-shrink: 1;
                                    flex-grow: 0;
                                    height: 200px;
                                }
                                .block-three-shrink {
                                    flex-shrink: 1;
                                    flex-grow: 0;
                                    height: 200px;
                                }
                            }
                        }
                        .tut-css__code-wrapper {
                            .tut-css__btns-box {
                                .tut-css__label-flex-shrink {
                                    display: block;
                                    text-align: center;
                                    .tut-css__span-shrink {
                                        display: block;
                                    }
                                    .tut-css__flex-shrink {
                                        width: 5rem;
                                    }
                                    &:hover {
                                        background-color: rgb(239, 239, 239);
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                    .tut-css__flex-wrapper-basis {
                        .tut-css__show-basis {
                            display: flex;
                            flex-direction: column;
                            .tut-css__flex-box-flex-basis {
                                display: flex;
                                height: 12.5rem;
                                .block-basis {
                                    flex-basis: 12.5rem;
                                    flex-grow: 1;
                                    background-color: #0aaf78;
                                    border: 0.0625rem solid #ffffff;
                                    .block-full {
                                        background-color: #e2e60c;
                                        width: 60rem;
                                        height: 6.25rem;
                                        margin: 0.625rem;
                                    }
                                    @media (max-width: 1300px) {
                                        .block-full {
                                            width: 40rem;
                                        }
                                    }
                                    @media (max-width: 1000px) {
                                        .block-full {
                                            width: 30rem;
                                        }
                                    }
                                    @media (max-width: 680px) {
                                        .block-full {
                                            width: 20rem;
                                        }
                                    }
                                }
                            }
                        }
                        .tut-css__show-width {
                            display: flex;
                            flex-direction: column;
                            .tut-css__flex-box-flex-width {
                                display: flex;
                                height: 12.5rem;
                                .block-width {
                                    width: 12.5rem;
                                    flex-grow: 1;
                                    background-color: #0aaf78;
                                    border: 0.0625rem solid #ffffff;
                                    .block-full {
                                        background-color: #e2e60c;
                                        width: 60rem;
                                        height: 6.25rem;
                                        margin: 0.625rem;
                                    }
                                    @media (max-width: 1300px) {
                                        .block-full {
                                            width: 40rem;
                                        }
                                        @media (max-width: 1000px) {
                                            .block-full {
                                                width: 30rem;
                                            }
                                        }
                                        @media (max-width: 680px) {
                                            .block-full {
                                                width: 20rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .tut-css__code-wrapper {
                        margin-top: 20px;
                        display: flex;
                        gap: 0.625rem;
                        align-items: center;
                    }
                    @media (max-width: 1200px) {
                        .tut-css__code-wrapper {
                            flex-wrap: wrap;
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-gap {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 0px 0px;
                                overflow: hidden;
                                .block-gap {
                                    flex-grow: 1;
                                    height: auto;
                                }
                            }
                        }
                        .tut-css__code-wrapper {
                            .tut-css__btns-box {
                                .tut-css__label-flex-gap {
                                    .tut-css__flex-gap {
                                        margin-left: 10px;
                                        font-size: 18px;
                                    }
                                }
                                .tut-css__label-flex-gap:hover {
                                    background-color: rgb(239, 239, 239);
                                    color: #000;
                                }
                            }
                        }
                    }
                }
                .grid {
                    .grid__main {
                        .grid__text {
                            .grid__link {
                                text-decoration: underline;
                                text-underline-position: under;
                                color: #2e5ae7;
                                transition: all 0.5s ease;
                                &:hover {
                                    color: #042483;
                                }
                            }
                        }
                        .grid__wrapper {
                            display: flex;
                            gap: 2rem;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-top: 2rem;
                            .grid__box-wrapper {
                                border: 3px solid #367eb9;
                                padding: 1.25rem;
                                .grid__inline-elem {
                                    background-color: #fff;
                                }
                                .grid__box {
                                    display: grid;
                                    grid-template-columns: repeat(2, 1fr);
                                    grid-template-rows: repeat(4, 1fr);
                                    align-items: start;
                                    justify-content: start;
                                    border: 3px solid #367eb9;
                                    background-color: #fff;
                                    padding: 3px;
                                    gap: 5px;
                                    height: 25rem;
                                    width: 25rem;
                                    overflow: hidden;
                                    .grid__block {
                                        align-self: stretch; /* Растянуть по вертикали */
                                        justify-self: stretch; /* Растянуть по горизонтали */
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: #0aaf78;
                                        text-align: center;
                                    }
                                }
                            }
                            .grid__btns {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 1.25rem;
                                .grid__btn {
                                    padding: 0.625rem 1.25rem;
                                    font-size: 1.5rem;
                                    cursor: pointer;
                                    transition: all 0.3s ease;
                                    &:hover {
                                        color: #f3f2f2;
                                        background: #070707;
                                    }
                                    &:active {
                                        color: #000;
                                        background-color: rgb(239, 239, 239);
                                    }
                                }
                            }
                        }
                    }
                    .grid__template {
                        .grid__wrapper {
                            .grid__box {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                grid-template-rows: repeat(4, 1fr);
                                align-items: start;
                                justify-content: start;
                                border: 3px solid #367eb9;
                                background-color: #fff;
                                padding: 3px;
                                gap: 5px;
                                height: 25rem;
                                width: 25rem;
                                overflow: hidden;
                                .grid__block {
                                    align-self: stretch;
                                    justify-self: stretch;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #0aaf78;
                                    text-align: center;
                                }
                                .grid__block-one {
                                }
                                .grid__block-three {
                                }
                            }
                            .grid__input-box {
                                display: flex;
                                flex-direction: column;
                                gap: 2rem;
                                .grid__label {
                                    background-color: rgb(239, 239, 239);
                                    padding: 1.25rem;
                                    border: 1px solid #000;
                                    font-family: "Segoe UI", Arial, sans-serif;
                                    font-size: 1.5rem;
                                    .grid__input {
                                        font-size: 1.5rem;
                                    }
                                    @media (max-width: 820px) {
                                        .grid__input {
                                            font-size: 1.3rem;
                                        }
                                    }
                                }
                                @media (max-width: 470px) {
                                    .grid__label {
                                        font-size: 1.125rem;
                                    }
                                }
                            }
                        }
                    }
                    .grid__line {
                        .grid__wrapper {
                            flex-wrap: nowrap;
                            .grid__box-line {
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                width: 25rem;
                                height: 18.75rem;
                                border: none;
                                overflow: visible;
                                .grid__block {
                                    background-color: #dddcdc;
                                    border-left: 0.625rem solid #ff0202;
                                    border-top: 0.625rem solid #01700b;
                                    border-bottom: 0.625rem solid #01700b;
                                    padding: 3.125rem;
                                }
                                .grid__block-four,
                                .grid__block-five,
                                .grid__block-six {
                                    border-top: 0px solid #01700b;
                                }
                                .grid__block-three,
                                .grid__block-six {
                                    border-right: 0.625rem solid #ff0202;
                                }
                            }
                        }
                        @media (max-width: 800px) {
                            .grid__wrapper {
                                flex-wrap: wrap;
                            }
                        }
                    }
                    .grid__column {
                        .grid__list {
                            list-style: circle;
                            margin-left: 80px;
                            .grid__list-elem {
                            }
                        }
                        .grid__wrapper {
                            .grid__box-column {
                                grid-template-columns: repeat(3, 1fr);
                                grid-template-rows: repeat(3, 1fr);
                                .grid__column-block-one {
                                    grid-row: 1 / 4;
                                }
                                .grid__column-block-two {
                                    grid-column: 2 / 4;
                                }
                                .grid__column-block-three {
                                }
                                .grid__column-block-four {
                                }
                                .grid__column-block-five {
                                }
                                .grid__column-block-six {
                                }
                            }
                            .grid__input-box {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);

                                .grid__label {
                                    padding: 0.5rem;
                                    .grid__span-column {
                                        display: block;
                                        text-align: center;
                                    }
                                    .grid__input {
                                        width: 8.125rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
