@use "../../SCSS/base-styles";

pre {
    background-color: rgba(255, 255, 255, 0.4666666667);
    padding: 0.3125rem;
}

.body {
    .wrapper {
        .main {
            .container {
                .flex {
                    .tut-css__text {
                        text-indent: 0;
                        .tut-css__link {
                            text-decoration: underline;
                            text-underline-position: under;
                            color: #2e5ae7;
                            transition: all 0.5s ease;
                            &:hover {
                                color: #042483;
                            }
                        }
                    }
                    .tut-css__box {
                        display: flex;
                        gap: 3.125rem;
                        flex-wrap: wrap;
                        margin-top: 0.625rem;
                        margin-bottom: 0.625rem;
                        .tut-css__show {
                            padding: 10px;
                            height: 100%;

                            border: 3px solid #070707;
                            p {
                                display: inline-block;
                                mark {
                                    background-color: #367eb9;
                                }
                            }
                            .tut-css__flex-box {
                                display: block;
                                border: 3px solid #5a77ce;
                                background-color: #fff;
                                height: 20rem;
                                width: 20rem;
                                .block {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 5rem;
                                    height: 5rem;
                                    border: 1px solid #ffffff;
                                    background-color: #0aaf78;
                                }
                            }
                            .tut-css__flex-box_inline-flex-active {
                                display: inline-flex;
                            }
                            .tut-css__flex-box-flex-active {
                                display: flex;
                            }
                            .tut-css__flex-box-none-flex-active {
                                display: block;
                            }
                        }
                        .tut-css__code {
                            padding: 1.875rem;
                            background-color: #ffffff77;
                        }
                    }
                    .tut-css__btns-box {
                        button {
                            padding: 0.625rem 1.25rem;
                            cursor: pointer;
                            &:hover {
                                color: #f3f2f2;
                                background: #070707;
                            }
                        }
                    }
                    .tut-css__show {
                        padding: 10px;
                        height: 100%;
                        p {
                            display: inline-block;
                            mark {
                                background-color: #367eb9;
                            }
                        }
                        .tut-css__flex-box {
                            display: block;
                            border: 3px solid #5a77ce;
                            background-color: #fff;
                            height: 20rem;
                            width: 20rem;
                            .block {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 5rem;
                                height: 5rem;
                                border: 1px solid #ffffff;
                                background-color: #0aaf78;
                            }
                        }
                        .tut-css__flex-box_inline-flex-active {
                            display: inline-flex;
                        }
                        .tut-css__flex-box-flex-active {
                            display: flex;
                        }
                        .tut-css__flex-box-none-flex-active {
                            display: block;
                        }
                    }
                    .tut-css__flex-wrapper {
                        display: flex;
                        gap: 3.125rem;
                        flex-wrap: wrap;
                        .tut-css__show {
                            .flex-direction {
                                display: flex;
                            }
                            .flex-direction-colum-active {
                                flex-direction: column;
                            }
                            .flex-direction-row-active {
                                flex-direction: row;
                            }
                            .flex-direction-colum-rev-active {
                                flex-direction: column-reverse;
                            }
                            .flex-direction-row-rev-active {
                                flex-direction: row-reverse;
                            }
                        }
                        .tut-css__code-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 1.25rem;
                            flex-wrap: wrap;
                            .tut-css__btns-box {
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                justify-content: center;
                                label {
                                    background-color: rgb(239, 239, 239);
                                    padding: 0.625rem 1.25rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid #000;
                                    font-family: "Segoe UI", Arial, sans-serif;
                                    cursor: pointer;
                                    &:hover {
                                        color: #f3f2f2;
                                        background: #070707;
                                    }

                                    input {
                                        appearance: none;
                                    }
                                }
                            }
                            .tut-css__style-code {
                                background-color: rgba(255, 255, 255, 0.4666666667);
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-wrap {
                                display: flex;
                                flex-wrap: nowrap;
                                align-content: flex-start;
                            }
                            .flex-wrap-nowrap-active {
                                flex-wrap: nowrap;
                            }
                            .flex-wrap-wrap-active {
                                flex-wrap: wrap;
                            }
                            .flex-wrap-wrap-reverse-active {
                                flex-wrap: wrap-reverse;
                            }
                        }
                    }
                    .tut-css__code-wrapper {
                        .tut-css__btns-box {
                            height: 320px;
                            flex-wrap: wrap;
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-justify {
                                display: flex;
                                justify-content: start;
                                margin-top: 1.25rem;
                                .block {
                                    height: 100%;
                                    width: 2.5rem;
                                }
                            }
                            .flex-justify-start-active {
                                justify-content: start;
                            }
                            .flex-justify-end-active {
                                justify-content: end;
                            }
                            .flex-justify-flex-start-active {
                                justify-content: flex-start;
                            }
                            .flex-justify-flex-end-active {
                                justify-content: flex-end;
                            }
                            .flex-justify-left-active {
                                justify-content: left;
                            }
                            .flex-justify-right-active {
                                justify-content: right;
                            }
                            .flex-justify-center-active {
                                justify-content: center;
                            }
                            .flex-justify-space-between-active {
                                justify-content: space-between;
                            }
                            .flex-justify-space-around-active {
                                justify-content: space-around;
                            }
                            .flex-justify-space-evenly-active {
                                justify-content: space-evenly;
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-align {
                                display: flex;
                                margin-top: 1.25rem;
                                align-items: stretch;
                                .block {
                                    height: 5rem;
                                    width: 5rem;
                                }
                                .block-one {
                                    height: 7rem;
                                }
                                .block-three {
                                    height: 8rem;
                                }
                                .block-active-height {
                                    height: auto;
                                }
                            }
                            .flex-align-start-active {
                                align-items: stretch;
                            }
                            .flex-align-flex-start-active {
                                align-items: flex-start;
                            }
                            .flex-align-flex-end-active {
                                align-items: flex-end;
                            }
                            .flex-align-center-active {
                                align-items: center;
                            }
                            .flex-align-baseline-active {
                                align-items: baseline;
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-al-content {
                                display: flex;
                                margin-top: 1.25rem;
                                align-content: stretch;
                                flex-wrap: wrap;
                                .block {
                                    padding: 10px;
                                    height: auto;
                                    width: 5rem;
                                }
                            }
                            .flex-al-content-start-active {
                                align-content: stretch;
                            }
                            .flex-al-content-flex-start-active {
                                align-content: flex-start;
                            }
                            .flex-al-content-flex-end-active {
                                align-content: flex-end;
                            }
                            .flex-al-content-center-active {
                                align-content: center;
                            }
                            .flex-al-content-space-around-active {
                                align-content: space-around;
                            }
                            .flex-al-content-space-between-active {
                                align-content: space-between;
                            }
                            .flex-al-content-space-evenly-active {
                                align-content: space-evenly;
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-order {
                                display: flex;
                                margin-top: 1.25rem;
                                flex-wrap: wrap;
                                .block {
                                    padding: 10px;
                                    height: auto;
                                    width: 5rem;
                                }
                            }
                        }
                        .tut-css__code-wrapper {
                            .tut-css__btns-box {
                                .tut-css__label-order {
                                    display: block;
                                    text-align: center;
                                    .tut-css__span-order {
                                        display: block;
                                    }
                                    .tut-css__flex-order {
                                        width: 5rem;
                                    }
                                    &:hover {
                                        background-color: rgb(239, 239, 239);
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                    .tut-css__flex-wrapper {
                        .tut-css__show {
                            .flex-grow {
                                display: flex;
                                flex-direction: column;
                                margin-top: 1.25rem;

                                .block {
                                    padding: 10px;
                                    height: auto;
                                    width: 100%;
                                }
                                .block-one-grow {
                                    flex-grow: 0;
                                }
                                .block-two-grow {
                                    flex-grow: 0;
                                }
                                .block-three-grow {
                                    flex-grow: 0;
                                }
                            }
                        }
                        .tut-css__code-wrapper {
                            .tut-css__btns-box {
                                .tut-css__label-flex-grow {
                                    display: block;
                                    text-align: center;
                                    .tut-css__span-grow {
                                        display: block;
                                    }
                                    .tut-css__flex-grow {
                                        width: 5rem;
                                    }
                                    &:hover {
                                        background-color: rgb(239, 239, 239);
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
