@font-face {
    font-family: "Montserrat-Regular";
    src: url(../../media/font/Montserrat-Regular.ttf);
}

$font-primary: "Montserrat-Regular", sans-serif;
$font-secondary: "Montserrat-Italic", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.body {
    .wrapper {
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        font-family: $font-primary;
        min-height: 100vh;
        .header {
        }
        .main {
            .container {
                .content {
                    .content-box {
                        display: flex;
                        width: 100%;
                        gap: 1.25rem;
                        .content__table-contents {
                            flex-grow: 6;
                            flex-basis: 0;
                            .content__list {
                                font-size: 1.5rem;
                                .content__title {
                                    font-size: 1.7rem;
                                    font-weight: 700;
                                    margin-bottom: 10px;
                                }
                                .content__item {
                                    margin-bottom: 5px;
                                    .content__link {
                                        color: black;
                                        transition:
                                            color 0.5s ease,
                                            font-weight 0.5s ease;
                                        &:hover {
                                            color: #1366d1;
                                            font-weight: 700;
                                        }
                                        &:active {
                                            color: #131414;
                                        }
                                    }
                                    ul {
                                        .content__item {
                                            margin-left: 0.9375rem;
                                            .content__link {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .content__description {
                            flex-grow: 4;
                            flex-basis: 0;
                            display: flex;
                            align-items: center;
                            .content__text {
                                font-style: italic;
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
        .footer {
        }
    }
}
