@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../media/font/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.body .wrapper {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: "Montserrat-Regular", sans-serif;
  min-height: 100vh;
}
.body .wrapper .main .container .content .content-box {
  display: flex;
  width: 100%;
  gap: 1.25rem;
}
.body .wrapper .main .container .content .content-box .content__table-contents {
  flex-grow: 6;
  flex-basis: 0;
}
.body .wrapper .main .container .content .content-box .content__table-contents .content__list {
  font-size: 1.5rem;
}
.body .wrapper .main .container .content .content-box .content__table-contents .content__list .content__title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.body .wrapper .main .container .content .content-box .content__table-contents .content__list .content__item {
  margin-bottom: 5px;
}
.body .wrapper .main .container .content .content-box .content__table-contents .content__list .content__item .content__link {
  color: black;
  transition: color 0.5s ease, font-weight 0.5s ease;
}
.body .wrapper .main .container .content .content-box .content__table-contents .content__list .content__item .content__link:hover {
  color: #1366d1;
  font-weight: 700;
}
.body .wrapper .main .container .content .content-box .content__table-contents .content__list .content__item .content__link:active {
  color: #131414;
}
.body .wrapper .main .container .content .content-box .content__table-contents .content__list .content__item ul .content__item {
  margin-left: 0.9375rem;
}
.body .wrapper .main .container .content .content-box .content__description {
  flex-grow: 4;
  flex-basis: 0;
  display: flex;
  align-items: center;
}
.body .wrapper .main .container .content .content-box .content__description .content__text {
  font-style: italic;
  font-size: 1.25rem;
}