@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../media/font/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 90rem;
  margin: 0;
  padding: 1.25rem;
}

mark {
  background-color: rgba(210, 231, 15, 0.8235294118);
}

p {
  text-indent: 2em;
  margin-bottom: 0.3125rem;
}

h2 {
  margin: 1.25rem 0rem;
  font-size: 1.75rem;
}

h3 {
  text-align: center;
  font-size: 1.375rem;
  margin: 0.625rem 0rem;
}

code {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.631372549);
  white-space: nowrap;
}

@media (max-width: 960px) {
  code {
    white-space: wrap;
  }
}
p {
  margin-top: 10px;
}
p span {
  font-weight: 600;
}

.img-box {
  max-width: 100vw;
  margin: 0.625rem 0rem;
}
.img-box img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 960px) {
  html {
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 0.8rem;
  }
}
@media (max-width: 650px) {
  html {
    font-size: 0.7rem;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 0.6rem;
  }
}
@media (max-width: 505px) {
  html {
    font-size: 0.5rem;
  }
}

.body {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.375rem;
}
.body .wrapper {
  background: #cde6fc;
  display: grid;
  grid-template-columns: 13.5rem 1fr;
  min-height: 100vh;
  gap: 1.25rem;
}
.body .wrapper .aside {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
.body .wrapper .aside .container {
  padding: 1.25rem 0rem 0rem 0rem;
}
.body .wrapper .aside .container .aside__nav .aside__list .aside__item .aside__link {
  display: block;
  border: 0.0625rem solid rgba(204, 191, 191, 0.5490196078);
  padding: 0.625rem 0.3125rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.body .wrapper .aside .container .aside__nav .aside__list .aside__item .aside__link:hover {
  background-color: #fff;
  color: #02061d;
  font-weight: 700;
}

pre {
  background-color: rgba(255, 255, 255, 0.4666666667);
  margin-top: 1.25rem;
}

.body .wrapper .main .container .flex .tut-css__text {
  text-indent: 0;
}
.body .wrapper .main .container .flex .tut-css__text .tut-css__link {
  text-decoration: underline;
  text-underline-position: under;
  color: #2e5ae7;
  transition: all 0.5s ease;
}
.body .wrapper .main .container .flex .tut-css__text .tut-css__link:hover {
  color: #042483;
}
.body .wrapper .main .container .flex .tut-css__box {
  display: flex;
  gap: 3.125rem;
  flex-wrap: wrap;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.body .wrapper .main .container .flex .tut-css__box .tut-css__show {
  padding: 10px;
  height: 100%;
  border: 3px solid #070707;
}
.body .wrapper .main .container .flex .tut-css__box .tut-css__show p {
  display: inline-block;
}
.body .wrapper .main .container .flex .tut-css__box .tut-css__show p mark {
  background-color: #367eb9;
}
.body .wrapper .main .container .flex .tut-css__box .tut-css__show .tut-css__flex-box {
  display: block;
  border: 3px solid #5a77ce;
  background-color: #fff;
  height: 20rem;
  width: 20rem;
}
.body .wrapper .main .container .flex .tut-css__box .tut-css__show .tut-css__flex-box .block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid #ffffff;
  background-color: #0aaf78;
}
.body .wrapper .main .container .flex .tut-css__box .tut-css__show .tut-css__flex-box_inline-flex-active {
  display: inline-flex;
}
.body .wrapper .main .container .flex .tut-css__box .tut-css__show .tut-css__flex-box-flex-active {
  display: flex;
}
.body .wrapper .main .container .flex .tut-css__box .tut-css__show .tut-css__flex-box-none-flex-active {
  display: block;
}
.body .wrapper .main .container .flex .tut-css__box .tut-css__code {
  padding: 1.875rem;
  background-color: rgba(255, 255, 255, 0.4666666667);
}
.body .wrapper .main .container .flex .tut-css__btns-box button {
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}
.body .wrapper .main .container .flex .tut-css__btns-box button:hover {
  color: #f3f2f2;
  background: #070707;
}
.body .wrapper .main .container .flex .tut-css__show {
  padding: 10px;
  height: 100%;
}
.body .wrapper .main .container .flex .tut-css__show p {
  display: inline-block;
}
.body .wrapper .main .container .flex .tut-css__show p mark {
  background-color: #367eb9;
}
.body .wrapper .main .container .flex .tut-css__show .tut-css__flex-box {
  display: block;
  border: 3px solid #5a77ce;
  background-color: #fff;
  height: 20rem;
  width: 20rem;
}
.body .wrapper .main .container .flex .tut-css__show .tut-css__flex-box .block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid #ffffff;
  background-color: #0aaf78;
}
.body .wrapper .main .container .flex .tut-css__show .tut-css__flex-box_inline-flex-active {
  display: inline-flex;
}
.body .wrapper .main .container .flex .tut-css__show .tut-css__flex-box-flex-active {
  display: flex;
}
.body .wrapper .main .container .flex .tut-css__show .tut-css__flex-box-none-flex-active {
  display: block;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper {
  display: flex;
  gap: 3.125rem;
  flex-wrap: wrap;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-direction {
  display: flex;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-direction-colum-active {
  flex-direction: column;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-direction-row-active {
  flex-direction: row;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-direction-colum-rev-active {
  flex-direction: column-reverse;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-direction-row-rev-active {
  flex-direction: row-reverse;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__code-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__code-wrapper .tut-css__btns-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__code-wrapper .tut-css__btns-box label {
  background-color: rgb(239, 239, 239);
  padding: 0.625rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-family: "Segoe UI", Arial, sans-serif;
  cursor: pointer;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__code-wrapper .tut-css__btns-box label:hover {
  color: #f3f2f2;
  background: #070707;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__code-wrapper .tut-css__btns-box label input {
  appearance: none;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__code-wrapper .tut-css__style-code {
  background-color: rgba(255, 255, 255, 0.4666666667);
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-wrap-nowrap-active {
  flex-wrap: nowrap;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-wrap-wrap-active {
  flex-wrap: wrap;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-wrap-wrap-reverse-active {
  flex-wrap: wrap-reverse;
}
.body .wrapper .main .container .flex .tut-css__code-wrapper .tut-css__btns-box {
  height: 320px;
  flex-wrap: wrap;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify {
  display: flex;
  justify-content: start;
  margin-top: 1.25rem;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify .block {
  height: 100%;
  width: 2.5rem;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-start-active {
  justify-content: start;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-end-active {
  justify-content: end;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-flex-start-active {
  justify-content: flex-start;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-flex-end-active {
  justify-content: flex-end;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-left-active {
  justify-content: left;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-right-active {
  justify-content: right;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-center-active {
  justify-content: center;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-space-between-active {
  justify-content: space-between;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-space-around-active {
  justify-content: space-around;
}
.body .wrapper .main .container .flex .tut-css__flex-wrapper .tut-css__show .flex-justify-space-evenly-active {
  justify-content: space-evenly;
}