@use "../../SCSS/base-styles";
@use "index" as *;
@use "sass:map";

$primary-color: #333;

pre {
    padding: 20px 10px;
    background-color: #fffffffa;
    font-weight: 600;
}

.code-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
}

.combinators {
    .combinators__list {
        margin-top: 0.625rem;
        margin-left: 3.125rem;
        .combinators__item {
            margin-top: 0.625rem;
        }
    }
    .combinators__name-operator {
        font-weight: 600;
        margin: 0.9375rem 0rem;
    }
}

.mixin {
    .mixin__code-box {
        margin-top: 1.875rem;
    }
}

.import__link {
    margin-left: 3.125rem;
    color: #374e70;
    font-weight: 700;
    transition: color 0.5s ease;
    &:hover {
        color: #12223a;
        color: $redcolor;
    }
}

.test {
}
