@use "../../SCSS/base-styles";



html{
    @media (max-width: 1110px) {
    font-size: 0.9rem;
    }
     @media (max-width: 1000px) {
        font-size: 0.8rem;
    }
     @media (max-width: 830px) {
        font-size: 0.6rem;
    }
    @media (max-width: 614px) {
        font-size: 0.4rem;
    }
}

@mixin code-wrapper{
    padding-top: 1.25rem;
    background-color: rgba(255, 255, 255, 0.631372549);
}



.vite-inst {
    .vite-inst__list {
        list-style-type: disc;
        padding-left: 3.125rem;
    }

    .vite-inst__code {
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.631372549);
        padding-left: 3.125rem;
    }
}

.vite-multpage {
    .vite-multpage-code{
        @include code-wrapper;
    }
}

.vite-img{
    .vite-multpage-code{
        @include code-wrapper;
    }
    ol{
        li{
            ul{
                list-style:inside;
            }
        }
    }
}

.vite-video{
    .vite-multpage-code{
        @include code-wrapper;
    }
}